* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.icon {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    color: #f1f1f1;
    width: 2rem;
    height: 2rem;
    color: #f1f1ff;
}

.sidebar {
  width: 18rem;
  height: 100dvh;
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    to bottom,
    hsl(260, 82%, 24%),
    hsl(238, 42%, 35%)
  );
}

.title {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  margin-bottom: 1.5rem;
}

.title img {
  width: 2rem;
  height: 2rem;
  color: #f1f1f1;
}

.title h1 {
  font-size: 1.4rem;
  color: #f1f1f1;
  font-weight: 600;
}

.sidebar hr {
  border: none;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.15);
  margin-bottom: 2rem;
}

.sidebar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &.sidebar li,
  a {
    width: 100%;
    font-size: 1.4rem;
    font-weight: 500;
  }
}

.sidebar a {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #e4e4e4;
  background-color: hsl(260, 82%, 24%);
  font-size: 1rem;
  padding: 0.6rem 0.8rem;
  border-radius: 12px;
  display: block;
  transition: all 0.3s ease;
}

.sidebar a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  padding-left: 1rem;
}

.sidebar a.active {
  background-color: rgba(131, 29, 172, 0.8);
  font-weight: 600;
}

.logout-btn {
  width: 100%;
  margin-top: auto;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  color: #e4e4e4;
  background-color: hsl(0, 91%, 45%);
  padding: 0.6rem 0.8rem;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  text-align: left;
  transition: all 0.3s ease;
}

.logout-btn:hover {
  background-color: hsl(0, 57%, 48%);
  padding-left: 1rem;
}