body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(255, 255, 255);
  margin: 0;
}
.app {
  display: flex;
  height: 100vh;
}

.page-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
