* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

.app-layout {
  display: flex;     
}
